<h1 mat-dialog-title>{{ data.accion }}</h1>
<div mat-dialog-content>
<form [formGroup]="estadoArticulosForm">

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="..." formControlName="nombre" [readonly]="data.accion==='Borrar'" (keydown)="SoloLetras($event);">
  </mat-form-field>

  @if(data.accion==="Borrar"){
    <p class="text-center">¿Estás seguro de borrar el estado del artículo?</p>
  }

</form>
  
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" (click)="EjecutarAccionEstadoArticulo();">{{ data.accion }}</button>
</div>