<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLinkActive="activebutton" ariaCurrentWhenActive="page">RentasSoftware</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menú
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="roles" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Roles</a></li>
              <li><a class="dropdown-item" routerLink="categorias" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Categorías</a></li>
              <li><a class="dropdown-item" routerLink="estadoArticulos" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Estados de un artículo</a></li>
              <li><a class="dropdown-item" routerLink="tipoDePagos" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Tipo de pagos</a></li>
              <li><a class="dropdown-item" routerLink="tipoDeVentas" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Tipo de ventas</a></li>
              <li><a class="dropdown-item" routerLink="permisos" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Permisos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
